[Server setup]
local_address = localhost

[IMAP-1993]
server_address = outlook.office365.com
server_port = 993

[SMTP-1587]
server_address = smtp.office365.com
server_port = 587
starttls = True

[htlin222@kfsyscc.org]
permission_url = https://login.microsoftonline.com/common/oauth2/v2.0/authorize
token_url = https://login.microsoftonline.com/common/oauth2/v2.0/token
oauth2_scope = https://outlook.office.com/IMAP.AccessAsUser.All https://outlook.office.com/SMTP.Send offline_access
redirect_uri = https://login.microsoftonline.com/common/oauth2/nativeclient
client_id = 9e5f94bc-e8a4-4e73-b8be-63364c29d753

